@model FinalProject.Models.Meeting

@{
    ViewData["Title"] = "Delete";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            
            <div style="margin-top: 30px">
                <h3 class="d-flex justify-content-center">Delete Meeting</h3>
                <h4 class="d-flex justify-content-center">Are you sure you want to delete this Meeting?</h4>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 30px">
                <dl class="row row-cols-2 col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.DateandTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DateandTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Topic)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Topic)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Project)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Project.Name)
                    </dd>
                </dl>
                </div>

            <div class="d-flex justify-content-center" style="margin-top: 10px">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="MeetingId" />
                    <input type="submit" value="Delete" class="btn btn-danger"/> 
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                </form>
            </div>

            </main>
    </div>
</div>