@model FinalProject.Models.Member

@{
    ViewData["Title"] = "Delete";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <h3 style="margin-top:40px">Delete Member</h3>
        <h4>Are you sure you want to delete this member?</h4>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployeeNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Function)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Function.Name)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="MemberId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-outline-primary mt-1">Back to the list of members</a>
            </form>
        </div>
    </div>
</div>
