@model FinalProject.Models.Member

@{
    ViewData["Title"] = "Details";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="d-flex justify-content-center" style="margin-top:100px">
                <h3>Member Details</h3>
            </div>

            <div class="d-flex justify-content-center" style="margin-top:30px">
                <dl class="row row-cols-2 col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EmployeeNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EmployeeNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Function)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Function.Name)
                    </dd>
                </dl>
            </div>
            <div class="form-group d-flex justify-content-center" style="margin-top:30px">
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.MemberId" class="btn btn-primary">Edit</a>
                }
                <a asp-action="Index" class="btn btn-outline-primary" style="margin-left:15px">Back to members</a>
            </div>
        </main>
    </div>
</div>
