@model FinalProject.Models.P_Task

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>P_Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.P_TaskState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.P_TaskState)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.P_TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
