@model P_TaskListViewModel

@{
    ViewData["Title"] = "Task List";
    var ID = ViewBag.ID;
    var T_Project = ViewBag.T_Project;
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <h1>Project: @T_Project</h1>

            <p>
                <a asp-action="Create" asp-route-id="@ID" class="btn btn-success">Create a new task</a>
            </p>

            </div>
            <p></p>
            <div class="card mb-4">
                <div class="card-header" style="background-color: #6666ff;">
                    <h2 style="text-align:center"><i class="fas fa-table me-1"></i>Tasks</h2>
                </div>
                <div class="row" style="background-color: #ccccff;">
                    <div class="col-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Not Started</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @foreach (var task in Model.P_Task)
                                        {
                                            @if (task.State.StateId == 1)
                                            {
                                                <div class="card mt-3">
                                                    <div class="card-header">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <p style="margin-bottom:7px;" />
                                                                    <h5 class="card-title text-left">
                                                                        @task.P_TaskName
                                                                    </h5>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <ul class="navbar-nav">
                                                                        <li class="dropdown">
                                                                            <a class="nav-link dropdown-toggle text-right" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color:gray"><i class="fas fa-cog"></i></a>
                                                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                                                <li><a asp-action="Edit" asp-route-id="@task.P_TaskId" class="dropdown-item dropdown-item-text"><i class="fas fa-edit"></i> Edit</a></li>
                                                                                <li><hr class="dropdown-divider" /></li>
                                                                                <li><a asp-action="Delete" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <h5><strong>Comemtary:</strong></h5>

                                                        <div class="comentary-card">
                                                            <h6>@task.Comentary</h6>
                                                        </div>
                                                        <!--<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="contentToggle"><i class="fas fa-bars"></i></button>-->
                                                        <button id="contentToggle"> Mostrar/esconder</button>
                                                        <p class="card-text lead">Created at: @task.CreationDate</p>
                                                        <p class="card-text lead">Deadline at: @task.Deadline</p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>In Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @foreach (var task in Model.P_Task)
                                        {
                                            @if (task.State.StateId == 2)
                                            {
                                                <div class="card mt-3">
                                                    <div class="card-body">
                                                        <h5 class="card-title">name: @task.P_TaskName</h5>
                                                        <p class="card-text lead">Created at: @task.CreationDate</p>
                                                        <p class="card-text lead">Inicialized at : @task.StartDate</p>
                                                        <p class="card-text lead">Deadline at: @task.Deadline</p>
                                                        <p class="card-text lead">Finished at: @task.EffectiveEndDate</p>
                                                        <p class="card-text lead">Comemtary: @task.Comentary</p>
                                                        <p class="card-text lead">State: @task.State.StateValue</p>
                                                        <a asp-action="Edit" asp-route-id="@task.P_TaskId" class="btn btn-primary">Edit</a>
                                                        <a asp-action="Delete" asp-controller="P_Task" asp-route-id="@task.P_TaskId" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Conclued</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @foreach (var task in Model.P_Task)
                                        {
                                            @if (task.State.StateId == 3)
                                            {
                                                <div class="card mt-3">
                                                    <div class="card-body">
                                                        <h5 class="card-title">name: @task.P_TaskName</h5>
                                                        <p class="card-text lead">Created at: @task.CreationDate</p>
                                                        <p class="card-text lead">Inicialized at : @task.StartDate</p>
                                                        <p class="card-text lead">Deadline at: @task.Deadline</p>
                                                        <p class="card-text lead">Finished at: @task.EffectiveEndDate</p>
                                                        <p class="card-text lead">Comemtary: @task.Comentary</p>
                                                        <p class="card-text lead">State: @task.State.StateValue</p>
                                                        <a asp-action="Edit" asp-route-id="@task.P_TaskId" class="btn btn-primary">Edit</a>
                                                        <a asp-action="Delete" asp-controller="P_Task" asp-route-id="@task.P_TaskId" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <nav class="mt-3">
                <ul class="pagination">
                    @{
                        if (Model.P_TaskPagingInfo.CurrentPage == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">First</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
                            </li>
                        }

                        int firstPage = Model.P_TaskPagingInfo.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                        if (firstPage < 1) firstPage = 1;

                        int lastPage = Model.P_TaskPagingInfo.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                        if (lastPage > Model.P_TaskPagingInfo.TotalPages) lastPage = Model.P_TaskPagingInfo.TotalPages;

                        for (int p = firstPage; p <= lastPage; p++)
                        {
                            if (p == Model.P_TaskPagingInfo.CurrentPage)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="#">@p <span class="sr-only">(current)</span></a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-route-page="@p">@p</a>
                                </li>
                            }
                        }

                        if (Model.P_TaskPagingInfo.CurrentPage == Model.P_TaskPagingInfo.TotalPages)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Last</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@Model.P_TaskPagingInfo.TotalPages">Last</a>
                            </li>
                        }
                    }
                </ul>
            </nav>

        </main>
    </div>
</div>