@model IEnumerable<FinalProject.Models.P_Task>

@{
    ViewData["Title"] = "Tasks";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <h1>Index</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.P_TaskName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comentary)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.P_TaskState)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Project.Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.P_TaskName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comentary)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.P_TaskState)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.P_TaskId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.P_TaskId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.P_TaskId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </main>
    </div>
</div>