@model ProjectListViewModel

@{
    ViewData["Title"] = "Task List";
    var NumOfDelayedDates = ViewBag.NumOfDelayedDates;
    var CurrentState = ViewBag.CurrentState;
    bool NotStartedExist = ViewBag.NotStartedExist;
    bool InProgressExist = ViewBag.InProgressExist;
    bool FinishedExist = ViewBag.FinishedExist;
    var CurrentDate = System.DateTime.Now.Date;
    bool DeadlineNotStarted = ViewBag.DeadlineNotStarted;
    bool DeadlineInProgress = ViewBag.DeadlineInProgress;
    bool TerminationValidation = ViewBag.TerminationValidation;
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div style="margin-top: 20px">
                <h1>Project: @Model.Project.Name</h1>
            </div>

            <div style="margin-top: 15px">
                <p>Description: @Model.Project.Description</p>
                <p>Start Date: @Model.Project.StartDate</p>
                <p>Finish Date: @Model.Project.FinishDate</p>
                <p>Decisive Delivery Date: @Model.Project.DecisiveDeliveryDate</p>
            </div>

            <div>
                <a asp-action="Edit" asp-route-id="@Model.Project.ProjectId" class="btn btn-primary">Edit Project</a>
                <a asp-action="Delete" asp-route-id="@Model.Project.ProjectId" class="btn btn-danger" style="margin-left:3px">Delete Project</a>
            </div>

            <div style="margin-top: 50px">
                <a asp-controller="P_Task" asp-action="Create" asp-route-id="@Model.Project.ProjectId" class="btn btn-success">Create a new task</a>
            </div>

            <p></p>

            <div class="card">
                <div class="card-header" style="background-color: #6666ff;">
                    <h2 style="text-align:center"><i class="fas fa-table me-1"></i>Tasks</h2>
                </div>
                <div class="container" style="background-color: #ccccff;">
                    <p></p>

                    <form asp-action="Details" method="post">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="submit" class="btn-check" value="Not Started" name="State" id="btnState1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnState1">Not Started</label>

                            <input type="submit" class="btn-check" value="In Progress" name="State" id="btnState2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnState2">In Progress</label>

                            <input type="submit" class="btn-check" value="Finished" name="State" id="btnState3" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnState3">Finished</label>

                            <input type="submit" class="btn-check" value="" name="State" id="btnState4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnState4">All</label>
                        </div>
                    </form>

                    <p></p>

                    @if (TerminationValidation)
                    {
                        <div class="card">
                            <div class="card-header" style="background-color: #ff1a1a;">
                                <h4 style="text-align:center"><strong>Delayed</strong></h4>
                            </div>
                            <div class="card-body" style="background-color: #ff6666;">
                                @foreach (var task in Model.Project.P_Task)
                                {
                                    @if (CurrentDate > task.Deadline && (task.StateId == 1 || task.StateId == 2))
                                    {

                                        <p></p>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-10"><h4><strong>@task.P_TaskName</strong></h4></div>
                                                    <div class="col-2">
                                                        <ul class="navbar-nav">
                                                            <li class="dropdown">
                                                                <a class="nav-link dropdown-toggle text-right" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color:gray"><i class="fas fa-cog"></i></a>
                                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                                    <li><a asp-controller="P_Task" asp-action="Edit" asp-route-id="@task.P_TaskId" class="dropdown-item dropdown-item-text"><i class="fas fa-edit"></i> Edit</a></li>
                                                                    <li><hr class="dropdown-divider" /></li>
                                                                    <li><a asp-controller="P_Task" asp-action="Delete" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a></li>
                                                                    <li><hr class="dropdown-divider" /></li>
                                                                    <li><a asp-controller="P_Task" asp-action="EditComentary" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-comment-alt"></i> Comment</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-body" style="">
                                                <div class="row">
                                                    <div class="col-2 align-self-center">
                                                        <h5><strong>Comentary:</strong></h5>
                                                    </div>
                                                    <div class="col-2">
                                                        @if (task.Comentary != null)
                                                        {
                                                            <button class="btn btn-link order-1 order-lg-0 me-4 me-lg-0" id="DelayedContentToggle">
                                                                <i class="fas fa-plus-circle" color="green"></i>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-link order-1 order-lg-0 me-4 me-lg-0" id="DelayedContentToggle" disabled>
                                                                <i class="fas fa-plus-circle" color="gray"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="comentary-card delayed">
                                                    <h6>@task.Comentary</h6>
                                                </div>
                                                <p class="card-text lead">Created at: @task.CreationDate</p>
                                                <p class="card-text lead">Deadline at: @task.Deadline</p>

                                                <a class="btn btn-success" asp-route-id="@task.P_TaskId" asp-controller="P_Task" asp-action="EditTaskTerminate">Terminate</a>

                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }

                    <p></p>

                    @if ((NotStartedExist && DeadlineNotStarted) && (CurrentState == "Not Started" || CurrentState == ""))
                    {
                        <div class="card">
                            <div class="card-header" style="background-color: #83afaf;">
                                <h4 style="text-align:center"><strong>Not Started</strong></h4>
                            </div>
                            <div class="card-body" style="background-color: #d0e1e1;">
                                @foreach (var task in Model.Project.P_Task)
                                {
                                    @if (task.State.StateId == 1 && CurrentDate <= task.Deadline)
                                    {

                                        <p></p>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-10"><h4><strong>@task.P_TaskName</strong></h4></div>
                                                    <div class="col-2">
                                                        <ul class="navbar-nav">
                                                            <li class="dropdown">
                                                                <a class="nav-link dropdown-toggle text-right" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color:gray"><i class="fas fa-cog"></i></a>
                                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                                    <li><a asp-controller="P_Task" asp-action="Edit" asp-route-id="@task.P_TaskId" class="dropdown-item dropdown-item-text"><i class="fas fa-edit"></i> Edit</a></li>
                                                                    <li><hr class="dropdown-divider" /></li>
                                                                    <li><a asp-controller="P_Task" asp-action="Delete" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a></li>
                                                                    <li><hr class="dropdown-divider" /></li>
                                                                    <li><a asp-controller="P_Task" asp-action="EditComentary" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-comment-alt"></i> Comment</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-body" style="">
                                                <div class="row">
                                                    <div class="col-2 align-self-center">
                                                        <h5><strong>Comentary:</strong></h5>
                                                    </div>
                                                    <div class="col-2">
                                                        @if (task.Comentary != null)
                                                        {
                                                            <button class="btn btn-link order-1 order-lg-0 me-4 me-lg-0" id="InicializeContentToggle">
                                                                <i class="fas fa-plus-circle" color="green"></i>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-link order-1 order-lg-0 me-4 me-lg-0" id="InicializeContentToggle" disabled>
                                                                <i class="fas fa-plus-circle" color="gray"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="comentary-card inicialize">
                                                    <h6>@task.Comentary</h6>
                                                </div>
                                                <p class="card-text lead">Created at: @task.CreationDate</p>
                                                <p class="card-text lead">Deadline at: @task.Deadline</p>

                                                <a class="btn btn-success" asp-route-id="@task.P_TaskId" asp-controller="P_Task" asp-action="EditTaskInProgress">Inicialize</a>

                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }

                    <p></p>

                    @if ((InProgressExist && DeadlineInProgress) && (CurrentState == "In Progress" || CurrentState == ""))
                    {
                        <div class="card">
                            <div class="card-header" style="background-color: #ffff66;">
                                <h4 style="text-align:center"><strong>In Progress</strong></h4>
                            </div>
                            <div class="card-body" style="background-color: #ffff99;">
                                @foreach (var task in Model.Project.P_Task)
                                {
                                    @if (task.State.StateId == 2 && CurrentDate <= task.Deadline)
                                    {
                                        <p></p>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-10"><h4><strong>@task.P_TaskName</strong></h4></div>
                                                    <div class="col-2">
                                                        <ul class="navbar-nav">
                                                            <li class="dropdown">
                                                                <a class="nav-link dropdown-toggle text-right" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color:gray"><i class="fas fa-cog"></i></a>
                                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                                    <li><a asp-controller="P_Task" asp-action="Edit" asp-route-id="@task.P_TaskId" class="dropdown-item dropdown-item-text"><i class="fas fa-edit"></i> Edit</a></li>
                                                                    <li><hr class="dropdown-divider" /></li>
                                                                    <li><a asp-controller="P_Task" asp-action="Delete" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a></li>
                                                                    <li><hr class="dropdown-divider" /></li>
                                                                    <li><a asp-controller="P_Task" asp-action="EditComentary" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-comment-alt"></i> Comment</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-2 align-self-center">
                                                        <h5><strong>Comentary:</strong></h5>
                                                    </div>
                                                    <div class="col-2">
                                                        @if (task.Comentary != null)
                                                        {
                                                            <button class="btn btn-link order-1 order-lg-0 me-4 me-lg-0" id="InProgressContentToggle">
                                                                <i class="fas fa-plus-circle" color="green"></i>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-link order-1 order-lg-0 me-4 me-lg-0" id="InProgressContentToggle" disabled>
                                                                <i class="fas fa-plus-circle" color="gray"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="comentary-card inProgress">
                                                    <h6>@task.Comentary</h6>
                                                </div>
                                                <p class="card-text lead">Created at: @task.CreationDate</p>
                                                <p class="card-text lead">Inicialized at: @task.StartDate</p>
                                                <p class="card-text lead">Deadline at: @task.Deadline</p>

                                                <div class="row">
                                                    <div class="col-4">
                                                        <a class="btn btn-secondary" asp-route-id="@task.P_TaskId" asp-controller="P_Task" asp-action="EditTaskTerminate">Terminate</a>
                                                    </div>
                                                    <div class="col-4">
                                                        <a class="btn btn-danger" asp-route-id="@task.P_TaskId" asp-controller="P_Task" asp-action="ReverseProgretion">Reverse Progretion</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }

                    <p></p>

                    @if (FinishedExist && (CurrentState == "Finished" || CurrentState == ""))
                    {
                        <div class="card">
                            <div class="card-header" style="background-color: #6fdc6f;">
                                <h4 style="text-align:center"><strong>Finished</strong></h4>
                            </div>
                            <div class="card-body" style="background-color: #adebad;">
                                @foreach (var task in Model.Project.P_Task)
                                {
                                    @if (task.State.StateId == 3)
                                    {
                                        <p></p>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="row">
                                                    @if (task.EffectiveEndDate > task.Deadline)
                                                    {
                                                        <div class="col-10"><h4><strong>@task.P_TaskName (Delayed)</strong></h4></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-10"><h4><strong>@task.P_TaskName</strong></h4></div>
                                                    }
                                                    <div class="col-2">
                                                        <ul class="navbar-nav">
                                                            <li class="dropdown">
                                                                <a class="nav-link dropdown-toggle text-right" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color:gray"><i class="fas fa-cog"></i></a>
                                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                                    <li><a asp-controller="P_Task" asp-action="Edit" asp-route-id="@task.P_TaskId" class="dropdown-item dropdown-item-text"><i class="fas fa-edit"></i> Edit</a></li>
                                                                    <li><hr class="dropdown-divider" /></li>
                                                                    <li><a asp-controller="P_Task" asp-action="Delete" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a></li>
                                                                    <li><hr class="dropdown-divider" /></li>
                                                                    <li><a asp-controller="P_Task" asp-action="EditComentary" asp-route-id="@task.P_TaskId" class="dropdown-item"><i class="fas fa-comment-alt"></i> Comment</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-2 align-self-center">
                                                        <h5><strong>Comentary:</strong></h5>
                                                    </div>
                                                    <div class="col-2">
                                                        @if (task.Comentary != null)
                                                        {
                                                            <button class="btn btn-link order-1 order-lg-0 me-4 me-lg-0" id="TerminateContentToggle">
                                                                <i class="fas fa-plus-circle" color="green"></i>
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-link order-1 order-lg-0 me-4 me-lg-0" id="TerminateContentToggle" disabled>
                                                                <i class="fas fa-plus-circle" color="gray"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="comentary-card terminate">
                                                    <h6>@task.Comentary</h6>
                                                </div>
                                                <p class="card-text lead">Created at: @task.CreationDate</p>
                                                <p class="card-text lead">Inicialized at: @task.StartDate</p>
                                                <p class="card-text lead">Terminated at: @task.EffectiveEndDate</p>
                                                <p class="card-text lead">Deadline at: @task.Deadline</p>

                                                <a class="btn btn-danger" asp-route-id="@task.P_TaskId" asp-controller="P_Task" asp-action="ReverseProgretion">Reverse Progretion</a>

                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }

                    <p></p>
                </div>
            </div>

            <div style="margin-top: 20px">
                <a asp-action="Index" class="btn btn-outline-primary">Back to list of Projects</a>
            </div>

        </main>
    </div>
</div>

<script src="~/js/hideDelayed.js"></script>
<script src="~/js/hideInicialize.js"></script>
<script src="~/js/hideInProgress.js"></script>
<script src="~/js/hideTerminate.js"></script>