@model IEnumerable<FinalProject.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

   <div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container" style="margin-top:100px">
                <h1>List of Projects</h1>
                <h4>Do you want to create a new Project?</h4><br />
                <a asp-action="Create" class="btn btn-success">Create</a>
            </div>      
             
            
            @foreach (var item in Model)
            {
                       

             <div class="card" style="margin-top:50px">
                <div class="card-header text-center">
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                </div>
                    <div class="card-body">
                        <h5>@Html.DisplayNameFor(model => model.Description)</h5>
                        <p> @Html.DisplayFor(modelItem => item.Description)</p>
                        <h5>@Html.DisplayNameFor(model => model.ProjectCreator)</h5>
                        <p> @Html.DisplayFor(modelItem => item.ProjectCreator)</p>
                        <h5>@Html.DisplayNameFor(model => model.NumberEmployees)</h5>
                        <p> @Html.DisplayFor(modelItem => item.NumberEmployees)</p>
                        <h5>@Html.DisplayNameFor(model => model.StartDate)</h5>
                        <p> @Html.DisplayFor(modelItem => item.StartDate)</p>
                        <h5>@Html.DisplayNameFor(model => model.FinishDate)</h5>
                        <p> @Html.DisplayFor(modelItem => item.FinishDate)</p>
                        <h5>@Html.DisplayNameFor(model => model.DecisiveDeliveryDate)</h5>
                        <p> @Html.DisplayFor(modelItem => item.DecisiveDeliveryDate)</p>

                        <div class="d-flex justify-content-md-end">
                        <a asp-action="Edit" asp-route-id="@item.ProjectId" class="btn btn-primary" style="margin-left:3px">Edit</a>
                        <a asp-controller="P_Task" asp-action="Index" asp-route-id="@item.ProjectId" class="btn btn-info" style="margin-left:3px">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ProjectId" class="btn btn-danger" style="margin-left:3px">Delete</a>
                        </div>
                    </div>
             </div>

            } 
            
        </main>
    </div>
</div>