@model MemberListViewModel

@{
    ViewData["Title"] = "Members List";
    var ID = ViewBag.ID;

    var teste = ViewBag.teste;
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container" style="margin-top:40px">
                <h1>List of Members</h1>
            </div>

            <a class="btn" asp-controller="Projects" asp-action="Details" asp-route-id="@ID">Back</a>

            @foreach (var member in Model.Members)
            {
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">@member.Name</h5>
                        <p class="card-text">Employee Number: @member.EmployeeNumber</p>
                        <p class="card-text">Function: @member.Function.Name</p>

                        <form asp-action="RemoveMember" method="post">
                            <button type="submit" class="btn btn-danger" value="@member.MemberId" name="RemoveMemberProject" id="btnMemberProject1" autocomplete="off">Remove</button>
                        </form>

                    </div>
                </div>
            }
        </main>
    </div>
</div>