@model FinalProject.Models.Function

@{
    ViewData["Title"] = "Details";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="d-flex justify-content-center" style="margin-top:40px">
                <h3>@Model.Name</h3>
            </div>
            
            <div class="form-group d-flex justify-content-center" >
                <a asp-action="Edit" asp-route-id="@Model.FunctionId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-outline-primary" style="margin-left:15px">Back to functions</a>
            </div>
            <div class="row d-flex justify-content-center">
                @foreach (var member in Model.Members)
                {
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">@member.Name</h5>
                            <p class="card-text">Employee Number: @member.EmployeeNumber</p>
                            <a asp-action="Details" asp-route-id="@member.MemberId" class="btn btn-success">Details</a>
                            <a asp-action="Edit" asp-route-id="@member.MemberId" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@member.MemberId" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>
</div>
                    
